<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body ng-app="tabcorp">
        <div ng-view></div>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/scripts/app.js"></script>
        <script src="~/scripts/betCalculatorService.js"></script>
        <script src="~/scripts/MainCtrl.js"></script>
    </body>
</html>
