
<label for="results"><strong>Race Results:</strong></label>
<br/>
<input id="results" type="text" ng-model="raceResults"/> 
<br/>
<br/>
<label for="bets"><strong>Bets:</strong></label>
<br>
<textarea id="bets" class="bet-inputs" rows="20" cols="100" ng-model="bets">
    
</textarea>
<br/>
<br/>
<button ng-click="calculateBets()">Calculate Dividends</button>
<br/>
<br/>
<div ng-show="dividendResults"><strong>Dividends</strong></div>
<div ng-repeat="dividendResult in dividendResults">
    <span>{{dividendResult}}</span>
</div>
